services:
  - type: web
    name: rag-backend
    env: python
    rootDir: ./   # your project root
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app --bind 0.0.0.0:$PORT --timeout 120
    plan: free
    region: frankfurt
    branch: main
    autoDeploy: true
